* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: #FB6B6B;
  }

  header{
    width: 100%;
    height: 92px;
    background-color: #FB6B6B;
  }

  header .header {
    width: 300px;
    height: 60px;
    margin: 42px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header .header img{
    width: 52px;
    height: 60px;
  }

  header .header h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
  }

  .main{
    margin-bottom: 100px;
  }

  .tela {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .tela-fixa {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
  }
  
  .tela-inicial{
    flex-direction: column;
    background-color: #fb6b6b;
    z-index: 2;
 
  }

  .tela-inicial img{
    width: 136px;
    height: 161px;
  }

  .tela-inicial h1{
    padding-top: 13px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
  }

  .tela-inicial button{
    width: 246px;
    height: 54px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
  }

  .flashcards {
    width: 100vw;
    height: 100vh;
  }  

  .caixa-pergunta{
    width: 300px;
    height: 65px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .caixa-pergunta h3{
    text-align: left;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
  }

  .caixa-pergunta ion-icon{
    font-size: 24px;
    font-weight: 700;
    padding-left: 160px;
  }

  .caixa-pergunta-linha-vermelha{
    text-decoration: line-through #FF3030;
    width: 300px;
    height: 65px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .caixa-pergunta-linha-vermelha h3{
    color: #FF3030;
    text-align: left;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
  }

  .caixa-pergunta-linha-vermelha ion-icon{
    font-size: 24px;
    font-weight: 700;
    padding-left: 160px;
    color: #FF3030;
  }

  .caixa-pergunta-linha-alaranjado{
    text-decoration: line-through #FF922E;
    width: 300px;
    height: 65px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .caixa-pergunta-linha-alaranjado h3{
    color: #FF922E;
    text-align: left;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
  }

  .caixa-pergunta-linha-alaranjado ion-icon{
    font-size: 24px;
    font-weight: 700;
    padding-left: 160px;
    color: #FF922E;
  }

  .caixa-pergunta-linha-verde{
    text-decoration: line-through #2FBE34;
    width: 300px;
    height: 65px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .caixa-pergunta-linha-verde h3{
    color: #2FBE34;
    text-align: left;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
  }

  .caixa-pergunta-linha-verde ion-icon{
    font-size: 24px;
    font-weight: 700;
    padding-left: 160px;
    color: #2FBE34;
  }

  .caixa-pergunta-visivel .pergunta, .caixa-pergunta-final .pergunta{
    padding: 15px 10px 0;
    text-align: justify;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
    color: #333333;
  }

  .caixa-pergunta-visivel, .caixa-pergunta-final, .caixa-pergunta-fechada{
    width: 299px;
    height: 131px;
    margin-bottom: 5px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .caixa-pergunta-visivel .caixa-pergunta-visivel-seta{
    width: 280.29px;
    margin: 60px auto;
    display: flex;
    justify-content: right;
  }
  .caixa-pergunta-visivel img{
    width: 30px;
    height: 20px;
  }

  .caixa-pergunta-final .caixa-pergunta-visivel-botoes{
    width: 280.29px;
    height: 37.17px; 
    margin: 26px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFD5;
    color: #FFFFFF;
  }
  .caixa-pergunta-final .caixa-pergunta-visivel-botoes .vermelho{
    width: 85.17px;
    height: 37.17px; 
    background: #FF3030;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
  }

  .caixa-pergunta-final .caixa-pergunta-visivel-botoes .alaranjado{
    width: 85.17px;
    height: 37.17px; 
    background: #FF922E;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
  }

  .caixa-pergunta-final .caixa-pergunta-visivel-botoes .verde{
    width: 85.17px;
    height: 37.17px; 
    background: #2FBE34;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
  }

  footer {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  }

  footer .rodape-conteudo{
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .rodape-conteudo p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
  }

  @media (min-width: 1600px){

    .tela-inicial img{
      width: 300px;
      height: 407px;
    }
  
    .tela-inicial h1{
      padding-top: 55px;
      font-size: 100px;
    }
  
    .tela-inicial button{
      width: 567.12px;
      height: 91.74px;
      margin-top: 128px;
      font-size: 40px;
    }

    header{
      height: 182px;
    }
  
    header .header {
      width: 567.12px;
      height: 100px;
      margin: 82px auto;
    }
  
    header .header img{
      width: 86.96px;
      height: 100px;
    }
  
    header .header h1{
      font-size: 64px;
      line-height: 79px;
    }

    .caixa-pergunta button{
      width: 567.12px;
      height: 91.74px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
  }

  .caixa-pergunta{
    width: 567.12px;
    height: 91.74px;
  }

  .caixa-pergunta h3{
    font-size: 24px;
    line-height: 29px;
  }

  .caixa-pergunta ion-icon{
    font-size: 32px;
  }

  .caixa-pergunta-visivel, .caixa-pergunta-final{
    width: 567.12px;
    height: 157.74px;
  }
  .caixa-pergunta-visivel .pergunta, .caixa-pergunta-final .pergunta{
    font-size: 26px;
  }
}